body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	outline: none;
}

section {
	padding-top: 98px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 50px;
	text-align: center;

}

h2 {
	font-size: 38px;
	font-weight: 700;
	color: #543024;
}

h3 {
	font-size: 19px;
	font-weight: 700;
	color: #543024;
}

a {
	text-decoration: none;
	color: #fff;
	transition: all .5s ease;
}

ul, li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/*============ Modal ===============*/
#myModal {
  max-width: 400px;
  max-height: 360px;
  padding: 18px 20px;
  border-radius: 4px;
  background: #fafafa;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 38;
  text-align: center;
}


.modal__form {
	margin-bottom: 0;
}

.modal__form h3 {
	margin-bottom: 20px;
	padding: 0 30px;
}

.modal__form input {
	width: 100%;
	border: 1px solid rgba(39, 52, 86, 0.26);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 10px;
	margin-bottom: 15px;

}

.modal__form input:last-of-type {
	margin-bottom: 0px;
}

.modal__form input:focus {
	border-color: #ff7d34;
}

.modal__form button {
	width: 100%;
	color: #fff;
	cursor: pointer;
	margin-top: 20px;
}


#myModal #myModal__close {
  width: 21px; height: 21px;
  position: absolute;
  font-size: 29px;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
}

.close {
	transition: all .3s ease;
}

.close:hover {
	color: #ff7d34;
}

#myOverlay {
  z-index: 37;
  position: fixed;
  background: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}

.btn {
	display: block;
	background: #ff7d34;
	border-radius: 69px;
	padding: 15px 10px;
	margin: 0 auto;
	width: 210px;
	text-align: center;
	margin-top: 21px;
	font-size: 17px;
	font-weight: 700;
	border: none;
	transition: all .5s ease;
}

.btn:hover {
	background: #FF5400;
}

/*=============== Header ===================*/
.header {
	background: url("../img/bg-main.jpg") no-repeat center center/cover;
	color: #fff;
	padding-top: 43px;
	padding-bottom: 76px;
    position: relative;
}


.header:before{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(90deg, rgb(36, 79, 210), rgb(55, 201, 216));
    opacity: .7;
}

.header .container {
	position: relative;
}


.header__wrapper {
	display: flex;
	align-items: center;
}

.logo {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	display: block;
	background: url("../img/logo.svg") no-repeat left center/contain;
	padding-left: 30px;
	margin-right: 111px;
}

.nav {
	display: flex;
}

/* .nav li {
	margin-right: 48px;
} */

.nav li:not(:last-child) {
	margin-right: 48px;
}



.nav a {
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
}

.nav a:hover {
	border-bottom: 1px solid #ffffff;
}

.menu__btn {
	display: block;
	margin-left: 110px;
	height: 16px;
	display: none;

}

.hamburger span {
	display: block;
	width: 30px;
	height: 1px;
	margin-bottom: 8px;
	background: #fff;
}

.hamburger span:last-child {
	margin-bottom: 0;
}

.country {
	font-size: 14px;
	font-weight: 700;
}

.next {
	margin-left: 74px;
}

.next__country {
	font-size: 12px;
}

.call {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.call__btn {
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	font-weight: bold;
	font-size: 14px;
	padding: 11px 26px;
	display: block;
	text-align: center;
	margin-right: 21px;
}

.call__btn:hover {
	background-color: #fff;
	color: #29b1d1;
}

.call__tel {
	font-weight: 700;
}

.call__tel:hover {
	color: #ff7d34;
}

/*=============== Offer =================*/
.offer {
	margin-top: 193px;
}

.offer__desc {
	width: 462px;
	margin: 0 auto;
	text-align: center;
	font-size: 17px;
	margin-top: 18px;
	line-height: 1.1em;
}

.offer__arrow {
	display: block;
	height: 15px;
	width: 15px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	transform: rotate(45deg);
	margin: 180px auto 0;
}

.offer__arrow:hover {
	border-color: #ff7d34;
}





/*================ Vector =============*/
.vector__cards {
	margin-top: 47px;
	font-size: 13px;
}

.vector__travel {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.vector__travel-more {
	display: none;
}

.vector__visible {
	display: flex;
	margin-top: 30px;
}

.vector__item {
	display: flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 15px;
	width: 585px;

	transition: all .2s ease;
}

.vector__item:nth-child(3) {
	margin-top: 30px;
}

.vector__item:nth-child(4) {
	margin-top: 30px;
}

.vector__item img {
	border-radius: 15px 0px 0px 15px;
	width: 277px;
}

.vector__item:hover {
	box-shadow: 0px 7px 20px rgba(32, 40, 69, 0.25);
}

.vector__content {
	padding: 35px 30px 41px 28px;
}

.vector__content span {
	background: #ee3c5c;
	color: #fff;
	border-radius: 30px;
	padding: 3px 13px;
	margin-right: 2px;
}

.vector__content span:nth-child(2) {
	margin-right: 8px;
}

.vector__content h3  {
	margin-top: 16px;
}

.vector__data {
	display: inline-block;
	color: #ee3c5c;
}

.vector__descr {
	margin-top: 12px;
}



.more__btn {
	display: block;
	width: 247px;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	color: #ff7d34;
	border: 1px solid #FF7D34;
	box-sizing: border-box;
	border-radius: 69px;
	padding: 15px 29px;
	margin-top: 58px;
}

.more__btn:hover {
	background-color: #FF7D34;
	color: #fff;
}

/*================ About =============*/

.about__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.about__wrapper img {
	border-radius: 15px;
	width: 585px;
}


.about p {
	line-height: 140.9%;
	margin-top: 25px;
	width: 572px;
}

/*================ Contacts =============*/

.form {
	width: 601px;
	padding: 58px 64px 97px;
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 20px;
}

.form h3 {
	width: 357px;
	margin-bottom: 45px
}

.form input {
	width: 473px;
	height: 59px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	border: 1px solid rgba(39, 52, 86, 0.26);
	box-sizing: border-box;
	border-radius: 5px;

	width: 100%;
	padding: 20px 26px;
	margin-bottom: 15px;
}

.form input:last-of-type {
	margin-bottom: 20px;
}

.form input:focus {
	border-color: #ff7d34;
}



.form__btn {
	width: 296px;
	font-size: 17px;
	text-align: center;
	margin: 0;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	padding: 22px 12;
	cursor: pointer;
}

.contacts__wrapper {
	display: flex;
	justify-content: space-between;
	width: 994px;
	align-items: center;
	margin-top: 57px;
}

.contacts__phone {
	display: flex;
	flex-direction: column;
}

.contacts__phone a {
	margin-top: 23px;
	color: rgba(114, 52, 26, 0.89);
	font-weight: 700;
	font-size: 20px;
}

.contacts__phone a:hover {
	color: #d25e1d;
}

.footer {
	font-size: 14px;
	padding: 116px 0 119px;
	text-align: center;
	color: rgba(114, 52, 26, 0.6);
}

/*=============== Media =================*/
@media screen and (max-width: 1200px) {
	h2 {
		text-align: center;
	}
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.nav,
	.next {
		display: none;
	}
	.menu__btn {
		display: block;
	}
	.vector__item {
		flex-direction: column;
		width: 48%;
		align-items: start;
	}
	.vector__item img {
		width: 100%;
		border-radius: 15px 15px 0 0;
	}
	.vector__descr {
		width: 218px;
	}
	.more__btn {
		margin: 58px auto 0;
	}
	.about__wrapper {
		flex-direction: column-reverse;
		margin-top: 64px;
		text-align: center;
	}
	.about__wrapper img {
		width: 100%;
	}
	.about__descr {
		margin-top: 43px;
	}
	.form h3 {
		text-align: center;
		width: 100%;
	}
	.contacts__wrapper {
    flex-direction: column;
    width: 100%;
	}
	.contacts__phone {
		margin-top: 35px;
	}
	.form__btn {
		margin: 20px auto 0;
	}
}

@media screen and (max-width: 992px) {
	.header__wrapper {
		justify-content: space-between;
	}
}

@media screen and (max-width: 768px) {
	.menu__btn {
		margin-left: 10px;
	}
	.call__tel {
		display: none;
	}
	.vector__item {
		width: 100%;
	} 
	.vector__item:first-child {
		margin-bottom: 30px;
	}
	.about__descr p {
		width: 100%;
	}
	.form {
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}
	section {
		padding-top: 78px;
	}
	.header {
		padding-bottom: 67px;
	}
	.call {
		display: none;
	}
	.offer {
		margin-top: 96px;
	}
	.offer h1 {
		font-size: 30px;
		text-align: center;
		width: 70%;
		margin: 0 auto;
	}
	.offer__desc {
		width: 100%;
	}
	.offer__arrow {
		margin: 80px auto 0;
	}
	.vector__content {
    padding: 35px 12px 41px 12px;
    width: 100%;
	}
	.vector__details {
		width: 100%;
	}
	.more__btn {
		width: 100%;
	}
	.form {
		padding: 38px 26px 55px;
	}
	.form input {
		height: 50px;
		font-size: 14px;
	}
	.form input {
		height: 50px;
		font-size: 14px;
	}
	.form__btn {
		width: 100%;
		height: 52px;
		padding: 15px 48px;
	}
	.footer {
		padding: 74px 0;
		margin-bottom: 0;
	}
}