div#container
{
   width: 1452px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #D3D3D3;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#hero-overlay,
#services-overlay,
#problems-overlay,
#price-overlay {
    background-color: transparent !important;
    opacity: 1 !important;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) -19%, rgba(255,255,255, .1) 100%) !important;
}

#nav-menu .line {
    width: 24px;
    height: 2px;
}

#nav-menu:hover .line {
    background: #0963AD;
}

#wb_phone a {
   transition: all .3s linear;
}

#btn-call_text span,
#btn-price span,
#wb_time-callback p {
   font-size: 14px !important;   
}

#btn-call,
#btn-price {
   transition: all .3s linear;
}

#wb_Card1,
#wb_Card2,
#wb_Card3,
#wb_Card4 {
   max-width: 280px !important;
   min-height: 144px;
   height: auto !important;
}

#wb_Card1::before,
#wb_Card2::before,
#wb_Card3::before,
#wb_Card4::before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    position: absolute;
    top: -1px;
    left: 20px;
    background-color: #00BFFF;
}

#Card1-card-header,
#Card2-card-header,
#Card3-card-header,
#Card4-card-header {
   border-bottom: 0px !important;
}

@media (max-width: 536px) {
    #wb_Card1,
    #wb_Card3 {
        margin-bottom: 20px !important;
    }
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/price%2dmin.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 300px 0px 200px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 1108px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#LayoutGrid1-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.6;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card5
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card5-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card5-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card5-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card5-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card6
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card6-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card6-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card6-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card6-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid3 > .col-1, #LayoutGrid3 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid3 > .col-1, #LayoutGrid3 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid3 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid3 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid3 > .col-1, #LayoutGrid3 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card7
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card7-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card7-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card7-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card7-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card8
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card8-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card8-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card8-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card8-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid7 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid7 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid7 > .col-1, #LayoutGrid7 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card9
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card9-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card9-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card9-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card9-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card10
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card10-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card10-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card10-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card10-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid8 > .col-1, #LayoutGrid8 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid8 > .col-1, #LayoutGrid8 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid8 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid8 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid8 > .col-1, #LayoutGrid8 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card11
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card11-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card11-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card11-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card11-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card12
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card12-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card12-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card12-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card12-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card5,
#wb_Card6,
#wb_Card7,
#wb_Card8,
#wb_Card9,
#wb_Card10,
#wb_Card11,
#wb_Card12  {
   max-width: 280px !important;
   min-height: 144px;
   height: auto !important;
}

#wb_Card5::before,
#wb_Card6::before,
#wb_Card7::before,
#wb_Card8::before,
#wb_Card9::before,
#wb_Card10::before,
#wb_Card11::before,
#wb_Card12::before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    position: absolute;
    top: -1px;
    left: 20px;
    background-color: #00BFFF;
}

#Card5-card-header,
#Card6-card-header,
#Card7-card-header,
#Card8-card-header,
#Card9-card-header,
#Card10-card-header,
#Card11-card-header,
#Card12-card-header {
   border-bottom: 0px !important;
}

@media (max-width: 536px) {
    #wb_Card5,
    #wb_Card7,
    #wb_Card9,
    #wb_Card11 {
        margin-bottom: 20px !important;
    }
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/washing%2dbg%2dmin.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 300px 0px 200px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid4 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 1108px)
{
#LayoutGrid4 > .col-1, #LayoutGrid4 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#LayoutGrid4-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.6;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid5 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid5 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid5 > .col-1, #LayoutGrid5 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card1
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card1-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card1-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card2
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card2-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card2-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid6 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid6 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid6 > .col-1, #LayoutGrid6 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card3
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card3-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card3-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card4
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card4-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card4-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid9 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid9 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card13
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card13-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card13-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card13-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card13-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card14
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card14-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card14-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card14-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card14-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_LayoutGrid10
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid10
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 570px;
}
#LayoutGrid10 > .col-1, #LayoutGrid10 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid10 > .col-1, #LayoutGrid10 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid10 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid10 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 535px)
{
#LayoutGrid10 > .col-1, #LayoutGrid10 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Card15
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card15-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card15-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card15-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card15-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card16
{
   position: relative;
   display: inline-block;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: rgba(0,0,0,0.60);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
   vertical-align: top;
}
#Card16-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card16-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid rgba(255,255,255,0.31);
   border-radius: 5px 5px 0 0 !important;
   margin: 0;
   padding: 22px 20px 12px 20px;
   background-color: transparent;
   background-image: none;
   text-align: left;
}
#Card16-card-header h3
{
   color: #00BFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 17px;
   margin: 0;
}
#Card16-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 5px 5px !important;
   margin: 0;
   padding: 0px 20px 20px 20px;
   color: #FFFFFF;
   font-family: Roboto;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 22.5px;
   text-align: left;
}
#wb_Card5,
#wb_Card6,
#wb_Card7,
#wb_Card8,
#wb_Card9,
#wb_Card10,
#wb_Card11,
#wb_Card12  {
   max-width: 280px !important;
   min-height: 144px;
   height: auto !important;
}

#wb_Card5::before,
#wb_Card6::before,
#wb_Card7::before,
#wb_Card8::before,
#wb_Card9::before,
#wb_Card10::before,
#wb_Card11::before,
#wb_Card12::before {
    content: "";
    display: block;
    width: 32px;
    height: 2px;
    position: absolute;
    top: -1px;
    left: 20px;
    background-color: #00BFFF;
}

#Card5-card-header,
#Card6-card-header,
#Card7-card-header,
#Card8-card-header,
#Card9-card-header,
#Card10-card-header,
#Card11-card-header,
#Card12-card-header {
   border-bottom: 0px !important;
}

@media (max-width: 536px) {
    #wb_Card5,
    #wb_Card7,
    #wb_Card9,
    #wb_Card11 {
        margin-bottom: 20px !important;
    }
}
